.add{
    padding: 3rem;
    border: 1px solid gray;
    box-shadow: 2px 3px rgba(0,0,0,0.5);
}
.input3{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}
.btn3{
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
}